@model FootBallStat.Championship

@{
    ViewData["Title"] = "Details";
}

<h1>Список команд чемпіонату @ViewBag.Championship.Name</h1>

<div>
    @foreach(var item in @ViewBag.Teams)
    {
        <form asp-controller="Teams" asp-action="Details" asp-route-id="@item.Id">
            <button all:unset class="btn btn-success"   style="width: 90%; padding: 10px; margin: 10px">@item.Name</button>
        </form>
    }
</div>
<div>
    <a asp-action="Index"><button class="btn btn-primary"> Повернутися чемпіонатів </button></a>
</div>
